<%= render 'users/index' %>

<div class="box">
  <div class="pict"><img src="/assets/konno2.jpg" alt="紺野賢護"></div>
  <div class="text">
    <p>紺野賢護</p>
    <p>漫画家とイラストレーター</p>
    <p>代表作「ガーデンスフィア」「冒険者をクビになったので錬金術師として出直します！」</p>
    <%= link_to "https://www.youtube.com/c/%E5%8D%AF%E3%83%8E%E8%8A%B1%E3%81%97%E3%81%86%E3%81%ADPN%E7%B4%BA%E9%87%8E%E8%B3%A2%E8%AD%B7/featured", target: :_blank, rel: "noopener noreferrer", class: "text-dark" do %>
    <%= icon('fab', 'youtube') %> Youtube
    <% end %>
    <%= link_to  "https://twitter.com/konken5", target: :_blank, rel: "noopener noreferrer", class: "p-4 mb-3 text-dark" do %>
    <%= icon('fab', 'twitter') %> Twitter
    <% end %>
  </div>
</div>

<div class="back">