<%= render 'users/index' %>

<div class="box">
  <div class="pict"><img src="/assets/misato2.jpg" alt="みさとらん"></div>
  <div class="text">
    <p>みさとらん</p>
    <p>天才両声類美少女清楚インテリ卍Vtuber</p>
    <p>トップアイドルを目指して修行中！！！！</p>
    <%= link_to "https://www.youtube.com/channel/UCh0VAaX5GbU59pLoiY52q_A/about", target: :_blank, rel: "noopener noreferrer", class: "text-dark" do %>
    <%= icon('fab', 'youtube') %> Youtube
    <% end %>
    <%= link_to  "https://twitter.com/misato_ran", target: :_blank, rel: "noopener noreferrer", class: "p-4 mb-3 text-dark" do %>
    <%= icon('fab', 'twitter') %> Twitter
    <% end %>
  </div>
</div>

<div class="back">