<%= render 'users/index' %>

<div class="flex">
  <div class="item">
  <img src="/assets/ponzu2.jpg" alt="ポン酢野郎"></div>
  <div class="item">
    <p>ポン酢野郎</p>
    <p>今日から君はポン酢小僧だ。</p>
    <p><%= link_to "https://www.youtube.com/channel/UCbXFCpQT9XKHCNaKuORadHw", target: :_blank, rel: "noopener noreferrer", class: "text-dark" do %>
    <%= icon('fab', 'youtube') %> Youtube
    <% end %>
    <%= link_to  "https://twitter.com/ponzu_yayaya", target: :_blank, rel: "noopener noreferrer", class: "p-4 mb-3 text-dark" do %>
    <%= icon('fab', 'twitter') %> Twitter
    <% end %></p>
  </div>
</div>

<div class="back">